<%- include("header") -%>

    <h2>This is About Page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Non arcu risus quis varius quam.</p>


<%- include("footer") -%>